
.browser {
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #1d1d1d;

    flex-direction: row;

    .container {
        padding: 32px;
        /*margin: auto;*/
        /*width: 400px;*/
        background-color: #262626;
        width: 800px;
        height: 100%;
        flex-direction: column;
        overflow: scroll;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;

        .song {
            width: 98%;
            height: 128px;
            margin: 4px;
            border: 1px solid #424242;

            border-radius: 4px;
            flex-direction: row;
            flex-shrink: 0;
            flex-grow: 0;
            padding: 8px;

            background-color: #121212;
            pointer-events: all;

            &.selected {
                border-color: #ea8d24;
                background-color: #203662;
            }

            .details {
                height: 100%;
                flex-grow: 1;
                flex-shrink: 1;
                flex-direction: column;
                pointer-events: none;
                margin-left: 8px;

                .title {
                    width: 100%;
                    overflow: hidden;
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 22px;
                    color: white;
                    text-shadow: 2px 2px 2px rgba( black, 0.4 );
                    /*margin: 2px;*/
                }

                .author {
                    width: 100%;
                    overflow: hidden;
                    font-family: Poppins;
                    /*font-weight: bold;*/
                    font-size: 18px;
                    color: #ababab;
                    text-shadow: 2px 2px 2px rgba( black, 0.4 );
                    /*                    margin: 2px;*/
                }
            }

            .imageContainer {
                width: 128px;
                height: 100%;
                flex-grow: 0;
                flex-shrink: 0;
                pointer-events: none;

                .image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .detailsPanel {
        /*width: 100%;*/
        height: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 32px;
        flex-direction: column;

        .inner {
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;

            .leftDetails {
                flex-direction: column;
                height: 100%;
                flex-grow: 1;
                flex-shrink: 1;

                .title {
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 48px;
                    color: white;
                    text-shadow: 2px 2px 2px rgba( black, 0.4 );
                    height: 96px;
                    width: 100%;
                }

                .descriptionContainer {
                    width: 100%;
                    flex-grow: 1;
                    flex-shrink: 0;

                    .description {
                        width: 100%;
                        height: 100%;

                        overflow: hidden;
                        font-family: Poppins;
                        /*font-weight: bold;*/
                        font-size: 18px;
                        color: #a8a8a8;
                        text-shadow: 2px 2px 2px rgba( black, 0.4 );
                        /*margin: 2px;*/
                    }
                }
            }

            .rightDetails {
                flex-direction: column;
                height: 100%;
                flex-grow: 0;
                flex-shrink: 0;

                .image {
                    width: 512px;
                    height: 512px;
                }
            }
        }

        .songControls {
            width: 256px;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;


            .difficultyContainer {
                width: 100%;
                height: 38px;
                flex-direction: row;
                margin-bottom: 12px;

                .difficulty {
                    /*margin: auto;*/
                    /*margin-left: 10px;*/
                    flex-direction: row;
                    /*width:600px;*/
                    height: 100%;
                    background-color: #0a0a0a;
                    border-radius: 8px;
                    flex-grow: 0;
                    flex-shrink: 0;

                    .entry {
                        width: 128px;
                        height: 100%;
                        flex-grow: 0;
                        flex-shrink: 0;
                        border-radius: 8px;
                        pointer-events: all;
                        padding: 2px;

                        .text {
                            /*margin: auto;*/
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            font-family: Poppins;
                            font-size: 24px;
                            color: #747474;
                            pointer-events: none;
                        }

                        &.selected {
                            background-color: #444de2;
                        }
                    }
                }
            }

            .play {
                width: 100%;
                height: 48px;
                background-color: #1a1a1a;
                border: 1px solid #404040;
                border-radius: 4px;
                pointer-events: all;
                padding: 4px;

                &.hover {
                    border-color: orange;
                }

                .text {
                    margin-left: 8px;
                    height: 100%;
                    pointer-events: none;
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 24px;
                    color: white;
                    pointer-events: none;
                    flex-grow: 1;
                    flex-shrink: 0;
                    pointer-events: none;
                }

                .icon {
                    /*margin: auto;*/
                    padding-top: 6px;
                    width: 28px;
                    height: 100%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    font-size: 24px;
                    font-family: MaterialIcons;
                    /*padding: 8px;*/

                    color: #449224;
                    pointer-events: none;
                }
            }
        }
    }
}
