
.downloader {
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #1d1e1e;
    flex-direction: column;
    align-items: center;

    .content {
        padding: 32px;
        width: 60%;
        height: 100%;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: center;

        .searchBar {
            background-color: #101010;
            width: 98%;
            height: 24px;
            font-family: Roboto;
            font-size: 18px;
            color: white;
            overflow: hidden;
            pointer-events: all;
            border: 0.5px solid gray;
            border-radius: 2px;
            padding: 2px;
            margin: 1px;
            white-space: nowrap;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .downloadContainer {
            margin-top: 8px;
            width: 100%;
            /*height: 100%;*/

            flex-direction: column;
            overflow: scroll;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 1;


            .download {
                width: 98%;
                height: 256px;
                margin: 4px;
                border: 1px solid #424242;
                border-radius: 4px;
                flex-direction: row;
                flex-shrink: 0;
                flex-grow: 0;
                padding: 8px;
                background-color: #121212;
                pointer-events: all;

                .details {
                    /*width: 100%;*/
                    height: 100%;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-direction: column;
                    pointer-events: none;

                    .title {
                        width: 100%;
                        overflow: hidden;
                        font-family: Poppins;
                        font-weight: bold;
                        font-size: 22px;
                        color: white;
                        text-shadow: 2px 2px 2px rgba( black, 0.4 );
                        /*margin: 2px;*/
                    }

                    .description {
                        width: 100%;
                        overflow: hidden;
                        font-family: Poppins;
                        /*font-weight: bold;*/
                        font-size: 18px;
                        color: #ababab;
                        text-shadow: 2px 2px 2px rgba( black, 0.4 );
                        /*                    margin: 2px;*/

                        flex-grow: 1;
                        flex-shrink: 1;
                    }

                    .controls {
                        width: 100%;
                        height: 48px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        flex-direction: row;

                        .download {
                            width: 25%;
                            height: 48px;
                            background-color: #1a1a1a;
                            border: 1px solid #404040;
                            border-radius: 4px;
                            pointer-events: all;
                            padding: 4px;

                            &.hover {
                                border-color: orange;
                            }

                            .text {
                                margin-left: 8px;
                                height: 100%;
                                pointer-events: none;
                                font-family: Poppins;
                                font-weight: bold;
                                font-size: 24px;
                                color: white;
                                pointer-events: none;
                                flex-grow: 1;
                                flex-shrink: 0;
                                pointer-events: none;
                            }

                            .icon {
                                /*margin: auto;*/
                                padding-top: 6px;
                                width: 28px;
                                height: 100%;
                                flex-grow: 0;
                                flex-shrink: 0;
                                font-size: 24px;
                                font-family: MaterialIcons;
                                /*padding: 8px;*/

                                color: #449224;
                                pointer-events: none;
                            }
                        }
                    }
                }

                .imageContainer {
                    width: 256px;
                    height: 100%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    pointer-events: none;

                    .image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
